html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.react-flow__edge-path {
  stroke: #333;
  stroke-width: 2;
}

.temp .react-flow__edge-path {
  stroke: red;
  stroke-dasharray: 5 5;
}

.node_group_container {
  .react-flow__handle {
    background-color: darkorange;
  }
}

.react-flow__node-group_container {
  /* z-index为1000，导致group内的edge无法被删除 */
  z-index: -1 !important;
}

.grouping-hover .node_group_container {
  border: 2px dashed #1890ff;
  padding: 8px !important;
}


.drop-over-downward {
  border-bottom: 2px solid #00a870 !important;
  ;
}

.drop-over-upward {
  border-top: 2px solid #00a870 !important;
  ;
}
